{% import _self as files %}
<div class="modal-header">
  <a class="close" data-dismiss="modal">&times;</a>
  <h3>{{ file.filenames|first }}</h3>
  <div class = "btn-group">
    <a class="btn btn-default" href="/browse/raw/files/{{file._id}}"">Raw data</a>
    <a class="btn btn-default" href="/crashes?{{ {'form[signature]': file._id}|url_encode }}">Go to crashes</a>
  </div>
</div>
<div class="modal-body">
  <div class="row" style="clear:both;">
    <div class="col-md-3"><strong>Signature:</strong></div>
    <div class="col-md-9">{{ file._id }}</div>
  </div>
  {% if file.classTransformers|length > 0 %}
  <div class="row">
    <div class="col-md-3"><strong>Class transformers:</strong></div>
    <div class="col-md-9">
      {% for transformer in file.classTransformers %}
          {{ transformer }}<br/>
      {% endfor %}
    </div>
  </div>
  {% endif%}

  <div class="row">
    <div class="col-md-3"><strong>Size:</strong></div>
    <div class="col-md-9">{{ file.size }}</div>
  </div>

  {% macro file_stats(file, type, timesField, firstTimeField, lastTimeField) %}
  <div class="row">
    <div class="col-md-3"><strong>Times {{ type }}:</strong></div>
    <div class="col-md-9">{{ file.stats[timesField]|default('N/A')}}</div>
  </div>
  <div class="row">
    <div class="col-md-3"><strong>First {{ type }}:</strong></div>
    <div class="col-md-9">{% if file.stats[firstTimeField] is defined %}{{ file.stats[firstTimeField]|date("Y-m-d H:i:s") }}{% else %}N/A{% endif %}</div>
  </div>
  <div class="row">
    <div class="col-md-3"><strong>Last {{ type }}:</strong></div>
    <div class="col-md-9">{% if file.stats[lastTimeField] is defined %}{{ file.stats[lastTimeField]|date("Y-m-d H:i:s") }}{% else %}N/A{% endif %}</div>
  </div>
  {% endmacro %}

  {{ files.file_stats(file, "seen", "timesSeen", "firstSeen", "lastSeen") }}

  {{ files.file_stats(file, "installed", "timesInstall", "firstInstall", "lastInstall") }}

  {{ files.file_stats(file, "uninstalled", "timesUninstall", "firstUninstall", "lastUninstall") }}
  {% set estActive = file.stats['timesInstall'] - file.stats['timesUninstall'] %} 
  <div class="row">
    <div class="col-md-3"><abbr title="installed - uninstalled"><strong>Estimated active:</strong></abbr></div>
    <div class="col-md-9">{{ estActive }}</div>
  </div>
  <div class="row">
    <div class="col-md-3"><abbr title="seen / (installed - uninstalled)"><strong>Estimated startups per user:</strong></abbr></div>
    <div class="col-md-9">{% if estActive > 0 %}{{ (file.stats['timesSeen'] / estActive) | number_format(2) }}{% else %}N/A{% endif %}</div>
  </div>

  <div class="row">
    <div class="col-md-3"><strong>Seen in:</strong></div>
    <div class="col-md-9">{% for mc,count in file.seenMc %}<p>{{mc}}: {{count}}</p>{% endfor %}</div>
  </div>

  <div class="row">
    <div class="col-md-3"><strong>Known filenames:</strong></div>
    <div class="col-md-9">
      {% for filename in file.filenames %}
          {{ filename }}<br />
      {% endfor %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-3"><strong>Contains mods:</strong></div>
    <div class="col-md-9">
      {% for mod in file.mods %}
          {{ mod.name }} ({{ mod.modId }}) - <small>{{ mod.version }}</small><br />
      {% endfor %}
    </div>
  </div>

  {% if file.packages|length > 0 %}
  <div class="row">
    <div class="col-md-3"><strong>Packages:</strong></div>
    <div class="col-md-9">
      {% for package in file.packages|sort %}
          <a href="{{ relative('package/' ~ package) }}">{{ package }}</a><br />
      {% endfor %}
    </div>
  </div>
  {% endif %}
</div>
<div class="modal-footer">
    <a class="btn" data-dismiss="modal">Close</a>
</div>
